// ==========================================================================
//  Imports
// ==========================================================================

@import "bootstrap/bootstrap.less";
@import "bootstrap/mixins.less";

// ==========================================================================
//  Fonts
// ==========================================================================



// ==========================================================================
//  Base
// ==========================================================================

body { }
a, button {
	-webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
	-moz-transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
	-ms-transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
	transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
	
	&:hover {
		text-decoration: none;
	}
}
.sprite {
	.img-retina("../img/sprite.png", "../img/sprite@x2.png", 260px, 190px); // x1 width and height
}
// ==========================================================================
//  Header
// ==========================================================================

.banner { 
	.logo {
		display: inline-block; 
	}
	.org {
		.h6;
		display: inline-block;
	}
	.tagline {
		.h6;
		display: inline-block;
	}
	.contact-modal { }
}
.modal { 
	.modal-header {
		text-align: center;
	}
	.modal-body { }
	.modal-footer { }
}

// ==========================================================================
//  Content
// ==========================================================================

.content { }

.page-header { 
	h1 { }
}

// ==========================================================================
//  Primary Content
// ==========================================================================

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

// ==========================================================================
//  Sidebar
// ==========================================================================

.sidebar { }

// ==========================================================================
//  Posts
// ==========================================================================

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

// ==========================================================================
//  Custom Posts ( Change 'custom' to required post type )
// ==========================================================================

.post-type-archive-custom {
	.custom {
		.category-image { }
		.entry-title { }
		.entry-excerpt { }
	}
}
.single-custom {
	.products {
		
	}
}

// ==========================================================================
//  Footer
// ==========================================================================

.content-info {
	background-color: @gray-lighter;
	padding: @grid-gutter-width 0;
	margin-top: @grid-gutter-width;
	
	.address {
		margin: 0 0 floor(@grid-gutter-width / 2 ) 0;
		.make-sm-column(6);
		.make-md-column(4);
		
		.org {
			text-transform: uppercase;
			display: block;
			margin-bottom: floor(@grid-gutter-width / 2);
			.h3;
			font-weight: 600;
		}
		span {
			display: block;
		}
	}
	.contact-info { 
		margin: 0 0 floor(@grid-gutter-width / 2 ) 0;
		list-style: none;
		padding: 0;
		.make-sm-column(6);
		.make-md-column(4);
		
		li {
			abbr {
				width: 15px;
				display: inline-block;
				margin-right: floor(@grid-gutter-width / 4);
			}
			.tel, .mob {
				color: #fff;
			}
		}
		
		button {
			margin-top: floor(@grid-gutter-width / 2);
		} 
	}
	.opening-hours { 
		margin: 0 0 floor(@grid-gutter-width / 2 ) 0;
		list-style: none;
		padding: 0;
		.make-sm-column(6);
		.make-md-column(4);
		
		li {
			width: 225px;
			.clearfix;
			
			span {
				float: right;
			}
		}
	}
	.title {
		text-transform: uppercase;
		display: block;
		margin-bottom: floor(@grid-gutter-width / 2);
		.h3;
		font-weight: 600;
	}
}

.copywrite {
	font-size: 12px;
	color: @gray-lighter;
	text-align: center;
	padding: @grid-gutter-width;
	a {
		color: @gray-lighter;
		&:hover {
			color: @brand-primary;
		}
	}
}

// ==========================================================================
//  Home
// ==========================================================================



// ==========================================================================
//  Contact
// ==========================================================================

.contact {
	.contact-info {
		.contact-title { }
		.business-info {
			.make-sm-column(6);
			
			.google-map {
				height: 300px;
			}
		}
		.contact-form {
			.make-sm-column(6);
		}
	}
}

// ==========================================================================
//  Business info
// ==========================================================================

.address, .contact-info { 
	list-style: none;
	margin: 0 0 floor(@grid-gutter-width / 2) 0;
	padding: 0;
}
.address { }
.contact-info { }
.opening-hours { }

// ==========================================================================
//  Carousels
// ==========================================================================

#home-carousel {
	.carousel-indicators{}
	.carousel-inner {
		.item{}
	}
	.carousel-control{}
}

// Carousel Fade Function
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

// ==========================================================================
//  Gallery & Modals
// ==========================================================================

.gallery-row { 
	padding: floor(@grid-gutter-width / 2) 0 0 0;
	
	div {
		text-align: center;
		
		.thumbnail {
			padding: 0;
			margin-bottom: 0;
			border-color: @silver;
			display: inline-block !important;
		}
		.caption {
			padding: 5px;
			width: 152px;
			margin: 0 auto floor(@grid-gutter-width / 2) auto;
		}
	}
}

#photo-modal .modal-dialog {
    text-align:center;
    display:table;
    padding: 0;
    margin-top: 10%;
	
	img {
		.img-responsive;
	}
	.close {
		background-color: #fff;
		color: @brand-primary;
		width: 25px;
		height: 25px;
		opacity: .8;
		position: relative;
		top:25px;
	}
}

// ==========================================================================
//  WordPress Generated Classes
//  See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
// ==========================================================================

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

// ==========================================================================
//  Media Queries
// ==========================================================================

@media only screen and (max-width: @screen-xs-min) { } // 480px

@media only screen and (max-width: @screen-sm-min) { } // 768px

@media only screen and (max-width: @screen-md-min) { } // 992px

@media only screen and (max-width: @screen-lg-min) { } // 1200px
