// ==========================================================================
//  Imports
// ==========================================================================

@import "bootstrap/bootstrap.less";
@import "bootstrap/mixins.less";

// ==========================================================================
//  Fonts
// ==========================================================================



// ==========================================================================
//  Base
// ==========================================================================

body { }
a, button {
	-webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
	-moz-transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
	-ms-transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
	transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
}

// ==========================================================================
//  Header
// ==========================================================================

.banner { 
	.logo {
		display: inline-block; 
	}
	.org {
		.h6;
		display: inline-block;
	}
	.tagline {
		.h6;
		display: inline-block;
	}
	.contact-modal { }
}
.modal { }

// ==========================================================================
//  Content
// ==========================================================================

.content { }

// ==========================================================================
//  Primary Content
// ==========================================================================

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

// ==========================================================================
//  Sidebar
// ==========================================================================

.sidebar { }

// ==========================================================================
//  Posts
// ==========================================================================

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

// ==========================================================================
//  Footer
// ==========================================================================

.content-info {
	background-color: @gray-lighter;
	padding: @grid-gutter-width 0;
	margin-top: @grid-gutter-width;
	
	.address { }
	.contact-info { }
	.opening-hours { }
}

.copywrite {
	font-size: 12px;
	color: @gray-lighter;
	text-align: center;
	padding: @grid-gutter-width;
	a {
		color: @gray-lighter;
		&:hover {
			color: @brand-primary;
		}
	}
}

// ==========================================================================
//  Home
// ==========================================================================



// ==========================================================================
//  Contact
// ==========================================================================

.contact {
	.contact-info {
		.contact-title { }
		.business-info {
			.make-sm-column(6);
			
			.google-map {
				height: 300px;
			}
		}
		.contact-form {
			.make-sm-column(6);
		}
	}
}

// ==========================================================================
//  Business info
// ==========================================================================

.address, .contact-info { 
	list-style: none;
	margin: 0 0 floor(@grid-gutter-width / 2) 0;
	padding: 0;
}
.address { }
.contact-info { }
.opening-hours { }

// ==========================================================================
//  Carousels
// ==========================================================================

#home-carousel {
	.carousel-indicators{}
	.carousel-inner {
		.item{}
	}
	.carousel-control{}
}

// ==========================================================================
//  WordPress Generated Classes
//  See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
// ==========================================================================

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

// ==========================================================================
//  Media Queries
// ==========================================================================

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
