/*!
 * Krank
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { }
a, button {
	-webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
	-moz-transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
	-ms-transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
	transition: color .3s ease-in-out, background-color .3s ease-in-out, background .3s ease-in-out;
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }
.tagline {.h6}
.contact-modal { }
.modal { }


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }
.address { }
.contact-info { 
	list-style: none;
	margin: 0;
	padding: 0;
}
.opening-hours { 
	list-style: none;
	margin: 0;
	padding: 0;
}
.copywrite { }


/* ==========================================================================
   Carousels
   ========================================================================== */

#home-carousel {
	.carousel-indicators{}
	.carousel-inner {
		.item{}
	}
	.carousel-control{}
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
